<h3>Home</h3>
<p><%= link_to 'Users:', users_path %> <%= User.count %> registered</p>

<main role="main">
       
       <div class="authform">
  <form role="form" class="new_user" id="new_user" action="/users/sign_in" accept-charset="UTF-8" method="post"><input name="utf8" type="hidden" value="&#x2713;" /><input type="hidden" name="authenticity_token" value="g53Jw4/Mulx3ys8YC/TYJjueFfdC6V2Is78arPDsGUQ+82GWmTjZ/D/41n/4/UR2KWQLRq0D0LFAzoBsL4VjWw==" />
    <h3>Sign in</h3>
    
    <div class="form-group">
        <a class="right" href="/users/sign_up">Sign up</a>
      <label for="user_email">Email</label>
      <input autofocus="autofocus" class="form-control" type="email" value="" name="user[email]" id="user_email" />
    </div>
    <div class="form-group">
        <a class="right" href="/users/password/new">Forgot password?</a>
      <label for="user_password">Password</label>
      <input class="form-control" type="password" name="user[password]" id="user_password" />
    </div>
      <input type="submit" name="commit" value="Sign in" class="button right" data-disable-with="Sign in" />
        <div class="checkbox" style="width:150px">
          <label>
            <input name="user[remember_me]" type="hidden" value="0" /><input type="checkbox" value="1" name="user[remember_me]" id="user_remember_me" /> Remember me
          </label>
        </div>
</form></div>

    </main>